In [209]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

from dateutil.parser import parse
import datetime
import re

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

In [210]:
interviews = pd.read_csv("data/raw/Interview.csv")

In [211]:
interviews.head()

,Date of Interview,Client name,Industry,Location,Position to be closed,Nature of Skillset,Interview Type,Name(Cand ID),Gender,Candidate Current Location,...,Are you clear with the venue details and the landmark.,Has the call letter been shared,Expected Attendance,Observed Attendance,Marital Status,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 1,Male,Chennai,...,Yes,Yes,Yes,No,Single,NaN,NaN,NaN,NaN,NaN
1,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 2,Male,Chennai,...,Yes,Yes,Yes,No,Single,NaN,NaN,NaN,NaN,NaN
2,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 3,Male,Chennai,...,NaN,NaN,Uncertain,No,Single,NaN,NaN,NaN,NaN,NaN
3,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 4,Male,Chennai,...,Yes,Yes,Uncertain,No,Single,NaN,NaN,NaN,NaN,NaN
4,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 5,Male,Chennai,...,Yes,Yes,Uncertain,No,Married,NaN,NaN,NaN,NaN,NaN

In [212]:
interviews.tail()

,Date of Interview,Client name,Industry,Location,Position to be closed,Nature of Skillset,Interview Type,Name(Cand ID),Gender,Candidate Current Location,...,Are you clear with the venue details and the landmark.,Has the call letter been shared,Expected Attendance,Observed Attendance,Marital Status,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
1229,07.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,Biosimiliars,Scheduled,Candidate 1230,Male,Chennai,...,Yes,Yes,Yes,Yes,Single,NaN,NaN,NaN,NaN,NaN
1230,06.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,Biosimiliars,Scheduled,Candidate 1231,Male,Chennai,...,Yes,Yes,Yes,Yes,Married,NaN,NaN,NaN,NaN,NaN
1231,06.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,generic drugs â€“ RA,Scheduled,Candidate 1232,Male,Chennai,...,Yes,Yes,Yes,Yes,Single,NaN,NaN,NaN,NaN,NaN
1232,06.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,generic drugs â€“ RA,Scheduled,Candidate 1233,Female,Chennai,...,NaN,NaN,Uncertain,Yes,Single,NaN,NaN,NaN,NaN,NaN
1233,NaN,ï»¿ï»¿,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [213]:
#the last row is redundant, drop it
interviews = interviews.drop([1233])

#last 5 columns are empty, drop them
interviews = interviews.drop(["Name(Cand ID)", "Unnamed: 23", "Unnamed: 24", "Unnamed: 25", "Unnamed: 26", "Unnamed: 27"], axis = 1)

In [214]:
interviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1233 entries, 0 to 1232
Data columns (total 22 columns):
Date of Interview                                                                                     1233 non-null object
Client name                                                                                           1233 non-null object
Industry                                                                                              1233 non-null object
Location                                                                                              1233 non-null object
Position to be closed                                                                                 1233 non-null object
Nature of Skillset                                                                                    1233 non-null object
Interview Type                                                                                        1233 non-null object
Gender                                                                                                1233 non-null object
Candidate Current Location                                                                            1233 non-null object
Candidate Job Location                                                                                1233 non-null object
Interview Venue                                                                                       1233 non-null object
Candidate Native location                                                                             1233 non-null object
Have you obtained the necessary permission to start at the required time                              1029 non-null object
Hope there will be no unscheduled meetings                                                            986 non-null object
Can I Call you three hours before the interview and follow up on your attendance for the interview    986 non-null object
Can I have an alternative number/ desk number. I assure you that I will not trouble you too much      986 non-null object
Have you taken a printout of your updated resume. Have you read the JD and understood the same        985 non-null object
Are you clear with the venue details and the landmark.                                                985 non-null object
Has the call letter been shared                                                                       988 non-null object
Expected Attendance                                                                                   1228 non-null object
Observed Attendance                                                                                   1233 non-null object
Marital Status                                                                                        1233 non-null object
dtypes: object(22)
memory usage: 221.6+ KB

In [215]:
interviews.columns

Index(['Date of Interview', 'Client name', 'Industry', 'Location',
       'Position to be closed', 'Nature of Skillset', 'Interview Type',
       'Gender', 'Candidate Current Location', 'Candidate Job Location',
       'Interview Venue', 'Candidate Native location',
       'Have you obtained the necessary permission to start at the required time',
       'Hope there will be no unscheduled meetings',
       'Can I Call you three hours before the interview and follow up on your attendance for the interview',
       'Can I have an alternative number/ desk number. I assure you that I will not trouble you too much',
       'Have you taken a printout of your updated resume. Have you read the JD and understood the same',
       'Are you clear with the venue details and the landmark.',
       'Has the call letter been shared', 'Expected Attendance',
       'Observed Attendance', 'Marital Status'],
      dtype='object')

In [216]:
for column in interviews.columns:
    print("-- " + column)
    print(interviews[column].value_counts())

-- Date of Interview
06.02.2016               220
04/12/16                  86
13.04.2016                84
02.09.2016                43
25.06.2015                43
21.4.16                   38
22.01.2016                34
07.05.2016                31
03.04.2015                30
14.01.2016                28
27.02.2016                26
26.02.2016                26
05/11/2016                25
20.08.2016                25
25.5.2016                 24
23.02.2016                22
02.12.2015                19
19.06.2015                18
19.03.16                  17
30.01.2016                16
09-01-2016                15
13.06.2016                15
11.5.16                   14
21.4.2016                 14
25-5-2016                 14
30.1.16                   14
22.03.2016                13
13/03/2015                13
3.6.16                    12
25.05.16                  12
                        ...
28.08.2016 & 11.30 AM      2
21/04/16                   2
28.08.2016 & 09.30 AM      2
20 Apr 16                  2
28.08.2016 & 9.30 AM       2
10.5.16                    2
28.08.2016 & 10.30 AM      2
24.05.2016                 2
30-1-2016                  1
12.04.2023                 1
12.04.2016                 1
28.8.2016 & 02.00 PM       1
30.1.16                    1
28.8.2016 & 09.30 AM       1
28.8.2016 & 11.00 AM       1
28.08.2016 & 11.00 AM      1
28.8.2016 & 03.00 PM       1
4.5.16                     1
12.04.2019                 1
28.08.2016 & 09.00 AM      1
12.04.2022                 1
28.08.2016 & 10.00 AM      1
12.04.2021                 1
22 -Apr -16                1
30.1.2016                  1
12.04.2020                 1
12.04.2017                 1
28.8.2016 & 04.00 PM       1
12.04.2018                 1
28.8.2016 & 12.00 PM       1
Name: Date of Interview, Length: 96, dtype: int64
-- Client name
Standard Chartered Bank            904
Pfizer                              75
Hospira                             75
Aon Hewitt                          28
Flextronics                         23
ANZ                                 22
Hewitt                              20
UST                                 18
Prodapt                             17
Standard Chartered Bank Chennai     17
Astrazeneca                         15
Williams Lea                        11
Barclays                             5
Aon hewitt Gurgaon                   2
Woori Bank                           1
Name: Client name, dtype: int64
-- Industry
BFSI                        949
Pharmaceuticals             165
IT Products and Services     45
IT Services                  23
Electronics                  23
Telecom                      17
IT                           11
Name: Industry, dtype: int64
-- Location
Chennai       754
Bangalore     292
chennai        86
Hyderabad      38
Gurgaon        33
Noida          15
- Cochin-       9
chennai         3
CHENNAI         1
Gurgaonr        1
Delhi           1
Name: Location, dtype: int64
-- Position to be closed
Routine                1023
Niche                   163
Dot Net                  18
Trade Finance            11
AML                       8
Selenium testing          5
Production- Sterile       5
Name: Position to be closed, dtype: int64
-- Nature of Skillset
JAVA/J2EE/Struts/Hibernate                220
Accounting Operations                      86
Fresher                                    86
AML/KYC/CDD                                84
CDD KYC                                    52
Routine                                    47
Oracle                                     43
JAVA/SPRING/HIBERNATE/JSF                  42
Java J2EE                                  33
SAS                                        27
Java Developer                             25
Oracle Plsql                               25
Banking Operations                         22
Lending and Liabilities                    22
Java                                       21
Core Java                                  17
Java J2ee                                  16
ALS Testing                                15
Senior software engineer-Mednet            15
T-24 developer                             15
SCCM                                       14
Sr Automation Testing                      13
Analytical R & D                           13
COTS Developer                             13
Regulatory                                 12
Hadoop                                     12
testing                                    11
Java                                       10
Dot Net                                     9
ETL                                         9
                                         ...
Lending And Liabilities                     3
JAVA/J2EE                                   3
RA Label                                    2
Lending&Liablities                          2
Production Support - SCCM                   2
11.30 AM                                    2
LCM -Manager                                2
Submission Management                       2
Banking operations                          2
Java, Spring, Hibernate                     2
L & L                                       2
SCCM-(Network, sharepoint,ms exchange)      1
JAVA,J2ee                                   1
Sccm- networking                            1
11.30 Am                                    1
9.30 AM                                     1
SCCM â€“ SQL                                  1
Java, J2Ee                                  1
Tech Lead- Mednet                           1
sccm                                        1
Production                                  1
Technical Lead                              1
10.00 AM                                    1
Biosimilars                                 1
JAVA, J2ee                                  1
SCCM â€“ Sharepoint                           1
9.00 Am                                     1
BaseSAS Program/ Reporting                  1
Manager                                     1
12.30 Pm                                    1
Name: Nature of Skillset, Length: 92, dtype: int64
-- Interview Type
Scheduled Walk In    456
Scheduled            371
Scheduled Walkin     189
Walkin               189
Walkin                27
Sceduled walkin        1
Name: Interview Type, dtype: int64
-- Gender
Male      965
Female    268
Name: Gender, dtype: int64
-- Candidate Current Location
Chennai       754
Bangalore     292
chennai        86
Hyderabad      38
Gurgaon        34
Noida          15
- Cochin-       9
chennai         3
CHENNAI         1
Delhi           1
Name: Candidate Current Location, dtype: int64
-- Candidate Job Location
Chennai          893
Bangalore        259
Gurgaon           35
Visakapatinam     21
Noida             15
- Cochin-          9
Hosur              1
Name: Candidate Job Location, dtype: int64
-- Interview Venue
Chennai       852
Bangalore     277
Hyderabad      40
Gurgaon        35
Noida          15
- Cochin-       9
Hosur           5
Name: Interview Venue, dtype: int64
-- Candidate Native location
Chennai          595
Hyderabad        172
Bangalore        151
Gurgaon           26
Cuttack           25
Cochin            24
Pune              22
Coimbatore        21
Allahabad         20
Noida             17
Visakapatinam     16
Nagercoil         16
Kolkata           14
Trivandrum        14
Trichy            13
Vellore           12
Mumbai             7
Chitoor            6
Chandigarh         5
Pondicherry        5
- Cochin-          5
Ahmedabad          5
Delhi              4
Tirupati           4
Vijayawada         4
Salem              3
Hosur              3
Warangal           3
Ambur              2
Delhi /NCR         2
Patna              2
Agra               1
Lucknow            1
Baddi              1
Mysore             1
Tuticorin          1
Bhubaneshwar       1
Tanjore            1
Faizabad           1
Kanpur             1
Panjim             1
Ghaziabad          1
Hissar             1
Anantapur          1
Kurnool            1
Belgaum            1
Name: Candidate Native location, dtype: int64
-- Have you obtained the necessary permission to start at the required time
Yes               917
No                 79
Not yet            19
Na                  5
yes                 4
Yet to confirm      4
NO                  1
Name: Have you obtained the necessary permission to start at the required time, dtype: int64
-- Hope there will be no unscheduled meetings
Yes         949
Na           20
No            6
yes           5
Not sure      4
Not Sure      1
cant Say      1
Name: Hope there will be no unscheduled meetings, dtype: int64
-- Can I Call you three hours before the interview and follow up on your attendance for the interview
Yes        951
Na          20
No          10
yes          4
No Dont      1
Name: Can I Call you three hours before the interview and follow up on your attendance for the interview, dtype: int64
-- Can I have an alternative number/ desk number. I assure you that I will not trouble you too much
Yes                          936
No                            27
Na                            19
No I have only thi number      2
na                             1
yes                            1
Name: Can I have an alternative number/ desk number. I assure you that I will not trouble you too much, dtype: int64
-- Have you taken a printout of your updated resume. Have you read the JD and understood the same
Yes                      940
Na                        19
No                        16
Not Yet                    4
yes                        2
Not yet                    2
na                         1
No- will take it soon      1
Name: Have you taken a printout of your updated resume. Have you read the JD and understood the same, dtype: int64
-- Are you clear with the venue details and the landmark.
Yes                    946
Na                      19
No                      14
yes                      2
No- I need to check      2
na                       1
no                       1
Name: Are you clear with the venue details and the landmark., dtype: int64
-- Has the call letter been shared
Yes               932
Na                 19
No                 17
Not Sure            8
Need To Check       3
yes                 2
Not yet             2
na                  1
Not sure            1
Havent Checked      1
no                  1
Yet to Check        1
Name: Has the call letter been shared, dtype: int64
-- Expected Attendance
Yes          882
Uncertain    250
No            59
NO            34
11:00 AM       1
10.30 Am       1
yes            1
Name: Expected Attendance, dtype: int64
-- Observed Attendance
Yes     701
No      401
yes      81
NO       35
no        7
No        6
yes       1
no        1
Name: Observed Attendance, dtype: int64
-- Marital Status
Single     767
Married    466
Name: Marital Status, dtype: int64

In [217]:
def parse_date(date_string):
    try:
        preprocessed = re.sub(r"[-â€“]", ' ', date_string)
        preprocessed = re.sub(r"\s{2,}", ' ', preprocessed)
        preprocessed = re.sub(r"(&.*)", ' ', preprocessed)
        return parse(preprocessed, ignoretz = True, dayfirst = True)
    except (ValueError, TypeError) as e:
        raise RuntimeError('Cannot be parsed as a date: ' + date_string) from e
        
        
assert parse_date("06.02.2016") == datetime.datetime(2016, 2, 6, 0, 0)
assert parse_date("04/12/16") == datetime.datetime(2016, 12, 4, 0, 0)
assert parse_date("21.4.16") == datetime.datetime(2016, 4, 21, 0, 0)
assert parse_date("15 Apr 16") == datetime.datetime(2016, 4, 15, 0, 0)
assert parse_date("09-01-2016") == datetime.datetime(2016, 1, 9, 0, 0)
assert parse_date("09 01 2016") == datetime.datetime(2016, 1, 9, 0, 0)
assert parse_date("25 â€“ Apr-16") == datetime.datetime(2016, 4, 25, 0, 0)
assert parse_date("21-Apr -16") == datetime.datetime(2016, 4, 21, 0, 0)
assert parse_date("28.8.2016 & 12.00 PM") == datetime.datetime(2016, 8, 28, 0, 0)

In [282]:
class DateParser(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_name = "Date of Interview"):
        self.attribute_name = attribute_name
        self.__days_of_week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
        self.__months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
        
        
    def __create_date_columns(self, value):
        date = parse_date(value)
        return pd.Series({
                "interview_month": self.__months[date.month - 1],
                "interview_day_of_week": self.__days_of_week[date.weekday()]
            })
    
    def fit(self, X, y = None):
        return self
    
    def transform(self, X):
        result = X[self.attribute_name].apply(
            lambda date: self.__create_date_columns(date)
        )
        dataframe = pd.concat([result, X], axis=1)
        return dataframe.drop([self.attribute_name], axis = 1)

In [219]:
def parse_city_name(city_name):
        preprocessed = re.sub(r"(\W)", '', city_name)
        return preprocessed.title()

class CityNameParser(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_name):
        self.attribute_name = attribute_name
    
    def fit(self, X, y = None):
        return self
    
    def transform(self, X):
        result = X.copy()
        result[self.attribute_name] = X[self.attribute_name].apply(
            lambda name: parse_city_name(name)
        )
        return result
    
assert parse_city_name("Chennai") == "Chennai"
assert parse_city_name("- Cochin-") == "Cochin"
assert parse_city_name("CHENNAI") == "Chennai"
assert parse_city_name("chennai") == "Chennai"

In [220]:
class MergeITIndustries(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_name):
        self.attribute_name = attribute_name
    
    def fit(self, X, y = None):
        return self
    
    def transform(self, X):
        result = X.copy()
        result[self.attribute_name] = X[self.attribute_name].apply(
            lambda name: "IT" if name.startswith("IT") else name
        )
        return result

In [221]:
#sorry, just gut feeling, due to the lack of a domain expert
class MergePositionType(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_name):
        self.attribute_name = attribute_name
        self.mapping = {
            "Routine": "Routine",
            "Dot Net": "Routine",
            "Selenium testing": "Routine",
            "Niche": "Niche",
            "Trade Finance": "Niche",
            "AML": "Niche",
            "Production- Sterile": "Niche",
        }
    
    def fit(self, X, y = None):
        return self
    
    def transform(self, X):
        result = X.copy()
        result[self.attribute_name] = X[self.attribute_name].apply(
            lambda name: self.mapping.get(name, "Routine")
        )
        return result

In [274]:
#sorry, just gut feeling, due to the lack of a domain expert
class MergeSkillsetType(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_name):
        self.attribute_name = attribute_name
        
    def __map_skill(self, skill):
        name = skill.lower()
        if "java" in name:
            return "Java Developer"
        elif "testing" in name:
            return "Tester"
        elif "oracle" in name:
            return "Oracle"
        elif "aml" in name or "kyc" in name or "cdd" in name or "regulatory" in name:
            return "Regulatory"
        elif "sccm" in name:
            return "IT Infrastructure"
        elif "banking" in name or "lending" in name or name == "l & l":
            return "Banking Operations"
        elif "software engineer" in name or "developer" in name:
            return "Other software engineer"
        elif "lead" in name or "manager" in name or "management" in name:
            return "Management"
        elif "r & d" in name or "r&d" in name:
            return "R&D"
        elif "analyst" in name:
            return "Analyst"
        elif "publishing" in name:
            return "Publishing"
        elif "production" in name:
            return "Production"
        elif "fresher" in name:
            return "Fresher"
        elif "accounting operations" in name:
            return "Accounting Operations"
        elif "routine" in name:
            return "Routine"
        elif "sas" in name:
            return "SAS"
        elif "hadoop" in name:
            return "Hadoop"
        elif "dot net" in name:
            return ".NET"
        elif "etl" in name:
            return "ETL"
        elif "emea" in name:
            return "EMEA"
        elif "global labelling" in name:
            return "Global Labelling"
        elif "biosimiliars" in name:
            return "Biosimiliars"
        elif "product control" in name:
            return "Product Control"
        else:
            return "Other"
        
    def fit(self, X, y = None):
        return self
    
    def transform(self, X):
        result = X.copy()
        result[self.attribute_name] = X[self.attribute_name].apply(
            lambda name: self.__map_skill(name)
        )
        return result

In [292]:
class ParseInterviewType(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_name):
        self.attribute_name = attribute_name

    def __convert_interview_type(self, name):
        interview_type = name.lower()
        if "scheduled" in interview_type or "sceduled" in interview_type:
            return "Scheduled"
        else:
            return "Walk-in"
        
    def fit(self, X, y = None):
        return self
    
    def transform(self, X):
        result = X.copy()
        result[self.attribute_name] = X[self.attribute_name].apply(
            lambda name: self.__convert_interview_type(name)
        )
        return result

In [309]:
class ParseYesNoAnswer(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_name):
        self.attribute_name = attribute_name

    def __convert_answer(self, name):
        name = str(name).lower()
        if name == "yes":
            return "Yes"
        else:
            return "No"
            
    def fit(self, X, y = None):
        return self
    
    def transform(self, X):
        result = X.copy()
        result[self.attribute_name] = X[self.attribute_name].apply(
            lambda name: self.__convert_answer(name)
        )
        return result

In [314]:
class ParseExpectedAttendanceAnswer(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_name):
        self.attribute_name = attribute_name

    def __convert_answer(self, name):
        name = str(name).lower()
        if name == "yes":
            return "Yes"
        elif name == "uncertain":
            return "Uncertain"
        elif name == "no":
            return "No"
        else:
            return "Yes"
            
    def fit(self, X, y = None):
        return self
    
    def transform(self, X):
        result = X.copy()
        result[self.attribute_name] = X[self.attribute_name].apply(
            lambda name: self.__convert_answer(name)
        )
        return result

In [317]:
preprocessing_pipeline = Pipeline([
    ("extract_interview_date", DateParser()),
    ("normalize_location", CityNameParser("Location")),
    ("normalize_candidate_current_location", CityNameParser("Candidate Current Location")),
    ("normalize_candidate_job_location", CityNameParser("Candidate Job Location")),
    ("normalize_interview_venue", CityNameParser("Interview Venue")),
    ("normalize_candidate_native_location", CityNameParser("Candidate Native location")),
    ("merge_it_industries", MergeITIndustries("Industry")),
    ("merge_position_type", MergePositionType("Position to be closed")),
    ("merge_skillset_type", MergeSkillsetType("Nature of Skillset")),
    ("parse_interview_types", ParseInterviewType("Interview Type")),
    ("convert_permission_answer", ParseYesNoAnswer("Have you obtained the necessary permission to start at the required time")),
    ("convert_unscheduled_meetings_answer", ParseYesNoAnswer("Hope there will be no unscheduled meetings")),
    ("convert_premeeting_call_answer", ParseYesNoAnswer("Can I Call you three hours before the interview and follow up on your attendance for the interview")),
    ("convert_alternative_number_answer", ParseYesNoAnswer("Can I have an alternative number/ desk number. I assure you that I will not trouble you too much")),
    ("convert_printout_answer", ParseYesNoAnswer("Have you taken a printout of your updated resume. Have you read the JD and understood the same")),
    ("convert_venue_answer", ParseYesNoAnswer("Are you clear with the venue details and the landmark.")),
    ("convert_call_letter_answer", ParseYesNoAnswer("Has the call letter been shared")),
    ("convert_expected_attendance_answer", ParseExpectedAttendanceAnswer("Expected Attendance")),
    ("convert_observed_attendance_answer", ParseYesNoAnswer("Observed Attendance")),
])

preprocessed = preprocessing_pipeline.transform(interviews)

-----------------------------------------------------------
-- interview_day_of_week
Saturday     423
Friday       215
Wednesday    192
Thursday     157
Sunday       110
Tuesday       94
Monday        42
Name: interview_day_of_week, dtype: int64
-----------------------------------------------------------
-- interview_month
February     311
April        246
May          152
January      122
June         121
December     105
March         63
August        45
September     43
November      25
Name: interview_month, dtype: int64
-----------------------------------------------------------
-- Client name
Standard Chartered Bank            904
Pfizer                              75
Hospira                             75
Aon Hewitt                          28
Flextronics                         23
ANZ                                 22
Hewitt                              20
UST                                 18
Prodapt                             17
Standard Chartered Bank Chennai     17
Astrazeneca                         15
Williams Lea                        11
Barclays                             5
Aon hewitt Gurgaon                   2
Woori Bank                           1
Name: Client name, dtype: int64
-----------------------------------------------------------
-- Industry
BFSI               949
Pharmaceuticals    165
IT                  79
Electronics         23
Telecom             17
Name: Industry, dtype: int64
-----------------------------------------------------------
-- Location
Chennai      844
Bangalore    292
Hyderabad     38
Gurgaon       33
Noida         15
Cochin         9
Gurgaonr       1
Delhi          1
Name: Location, dtype: int64
-----------------------------------------------------------
-- Position to be closed
Routine    1046
Niche       187
Name: Position to be closed, dtype: int64
-----------------------------------------------------------
-- Nature of Skillset
Java Developer             459
Regulatory                 148
Accounting Operations       86
Fresher                     86
Oracle                      68
Banking Operations          57
Routine                     47
Other software engineer     43
Tester                      39
Other                       32
SAS                         28
IT Infrastructure           25
Publishing                  18
R&D                         16
Management                  15
Hadoop                      12
.NET                         9
ETL                          9
Production                   8
Biosimiliars                 6
Global Labelling             6
EMEA                         6
Analyst                      5
Product Control              5
Name: Nature of Skillset, dtype: int64
-----------------------------------------------------------
-- Interview Type
Scheduled    1017
Walk-in       216
Name: Interview Type, dtype: int64
-----------------------------------------------------------
-- Gender
Male      965
Female    268
Name: Gender, dtype: int64
-----------------------------------------------------------
-- Candidate Current Location
Chennai      844
Bangalore    292
Hyderabad     38
Gurgaon       34
Noida         15
Cochin         9
Delhi          1
Name: Candidate Current Location, dtype: int64
-----------------------------------------------------------
-- Candidate Job Location
Chennai          893
Bangalore        259
Gurgaon           35
Visakapatinam     21
Noida             15
Cochin             9
Hosur              1
Name: Candidate Job Location, dtype: int64
-----------------------------------------------------------
-- Interview Venue
Chennai      852
Bangalore    277
Hyderabad     40
Gurgaon       35
Noida         15
Cochin         9
Hosur          5
Name: Interview Venue, dtype: int64
-----------------------------------------------------------
-- Candidate Native location
Chennai          595
Hyderabad        172
Bangalore        151
Cochin            29
Gurgaon           26
Cuttack           25
Pune              22
Coimbatore        21
Allahabad         20
Noida             17
Visakapatinam     16
Nagercoil         16
Kolkata           14
Trivandrum        14
Trichy            13
Vellore           12
Mumbai             7
Chitoor            6
Pondicherry        5
Chandigarh         5
Ahmedabad          5
Vijayawada         4
Tirupati           4
Delhi              4
Warangal           3
Salem              3
Hosur              3
Patna              2
Ambur              2
Delhincr           2
Hissar             1
Faizabad           1
Belgaum            1
Agra               1
Baddi              1
Lucknow            1
Bhubaneshwar       1
Kanpur             1
Ghaziabad          1
Kurnool            1
Tuticorin          1
Tanjore            1
Anantapur          1
Panjim             1
Mysore             1
Name: Candidate Native location, dtype: int64
-----------------------------------------------------------
-- Have you obtained the necessary permission to start at the required time
Yes    921
No     312
Name: Have you obtained the necessary permission to start at the required time, dtype: int64
-----------------------------------------------------------
-- Hope there will be no unscheduled meetings
Yes    954
No     279
Name: Hope there will be no unscheduled meetings, dtype: int64
-----------------------------------------------------------
-- Can I Call you three hours before the interview and follow up on your attendance for the interview
Yes    955
No     278
Name: Can I Call you three hours before the interview and follow up on your attendance for the interview, dtype: int64
-----------------------------------------------------------
-- Can I have an alternative number/ desk number. I assure you that I will not trouble you too much
Yes    937
No     296
Name: Can I have an alternative number/ desk number. I assure you that I will not trouble you too much, dtype: int64
-----------------------------------------------------------
-- Have you taken a printout of your updated resume. Have you read the JD and understood the same
Yes    942
No     291
Name: Have you taken a printout of your updated resume. Have you read the JD and understood the same, dtype: int64
-----------------------------------------------------------
-- Are you clear with the venue details and the landmark.
Yes    948
No     285
Name: Are you clear with the venue details and the landmark., dtype: int64
-----------------------------------------------------------
-- Has the call letter been shared
Yes    934
No     299
Name: Has the call letter been shared, dtype: int64
-----------------------------------------------------------
-- Expected Attendance
Yes          890
Uncertain    250
No            93
Name: Expected Attendance, dtype: int64
-----------------------------------------------------------
-- Observed Attendance
Yes    782
No     451
Name: Observed Attendance, dtype: int64
-----------------------------------------------------------
-- Marital Status
Single     767
Married    466
Name: Marital Status, dtype: int64